DATABASE_URL=postgresql+asyncpg://admitgraph:admitgraph_dev_password@localhost:5432/admitgraph
REDIS_URL=redis://localhost:6379/0
SERPAPI_API_KEY=b6b6df02b90eb6450d85f2fa5ec8788b9e80043f3ae09ce1a8dd60e35a8fe119
LLM_API_KEY=replace_me
LLM_MODEL=replace_me
CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
APP_ENV=development
LOG_LEVEL=INFO
